<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h3>Name:  <%= @user.name %></h3>

<h4>Here are the places you want to go</h4>
<%= link_to "Countries", countries_path %>
<br />
<%= link_to "States, Cities and Towns", cities_path %>
<br />
<%= link_to "Sites", sites_path %>
<br />
<%= link_to "Restaurants", restaurants_path %>
<br />
<%= link_to "Hotels", hotels_path %>
<br />
<br />
<h4>Add new country</h4>
<%= link_to "Add Country", new_country_path %>
