<h2>Add New Country</h2>

<%= form_for(@country) do |f| %>
 	<%= f.label :name %>
 	<%= f.text_field :name %>
  <br>
  <br>
  <%= f.collection_select :user_ids, Country.all, :id, :name%>
 	<%= f.submit "Add Country" %>
<% end %>
