<h2><%= @country.name %></h2>

<ul>
  <% if current_user %>
    <% @country.locations.each do |location| %>
      <li>

        <%= link_to "#{location.name}", location_path(location) %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />

<%= link_to "Location", new_location_path(:country_id => @country.id) %>
<br />
<br />
<%= link_to "Edit Country", edit_country_path %>
<br />
<%= link_to "Delete This Country", country_path(@country), method: :delete %>
