<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2><%= @country.name %></h2>

<ul>
  <% current_user.locations.each do |location| %>
    <% if location.country_id == @country.id %>
      <li>
        <%= link_to "#{location.name}", location_path(location)%>
      </li>
    <% end %>
  <% end %>
</ul>

<br />

<%= link_to "Add New Location in #{@country.name}", new_location_path(:country_id => @country.id) %>
<br />
<br />
<%= link_to "Edit Country", edit_country_path %>
<br />
<%= link_to "Delete This Country", country_path(@country), method: :delete %>
