<h2>Edit <%=@site.name%></h2>

<%= form_for(@site) do |f| %>
 	<%= f.label :name %>
 	<%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :website %>
  <%= f.text_field :website %>
  <br>
  <br>
  <%= f.label :note %>
  <%= f.text_field :note %>
  <br>
  <br>
 	<%= f.submit "Update Site" %>
<% end %>
