<%= render 'layouts/notice' %>


<h3><%= @site.name %></h3>
<h4>Website: <%= link_to "#{@site.website}", @site.website, target: '_blank'%></h4>
<h4>Note: <%= @site.note%></h4>

<%= link_to "Edit Site", edit_site_path %>
<br />
<%= link_to "Delete This Site", site_path(@site), method: :delete %>
