<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2>Places to Go in <%=@location.name%></h2>


<h3>Sites</h3>
<ul>
  <% ordered_sites = @location.sites.order(:name) %>
  <% ordered_sites.each do |site| %>
    <li>
      <% if site.interests.pluck(:user_id)[0] == current_user.id %>
        <%= link_to "#{site.name}", site.website, target: '_blank'%>
        <br />
        <label>Notes:</label>  <%=site.note %>
      <% end %>
    </li>
  <% end %>
</ul>
<br />
<%= link_to "Add New Site", new_site_path(:location_id => @location.id) %>

<h3>Restaurants</h3>
<ul>
  <% ordered_restaurants = @location.restaurants.order(:name) %>
  <% ordered_restaurants.each do |restaurant| %>
    <li>
      <% if restaurant.interests.pluck(:user_id)[0] == current_user.id %>
        <%= link_to "#{restaurant.name}", restaurant.website, target: '_blank' %>
        <br />
        <label>Notes:</label>  <%=restaurant.note %>
      <%end%>
    </li>
  <% end %>
</ul>
<%= link_to "Add New Restaurant", new_restaurant_path(:location_id => @location.id)  %>

<h3>Hotels</h3>
<ul>
  <% ordered_hotels = @location.hotels.order(:name) %>
  <% ordered_hotels.each do |hotel| %>
    <li>
      <% if hotel.interests.pluck(:user_id)[0] == current_user.id %>
        <%= link_to "#{hotel.name}", hotel.website, target: '_blank' %>
        <br />
        <label>Notes:</label>  <%=hotel.note %>
      <%end%>
    </li>
  <% end %>
</ul>

<%= link_to "Add New Hotel", new_hotel_path(:location_id => @location.id)  %>

<br />
<br />
<%= link_to "Edit Location", edit_location_path %>
<br />
<%= link_to "Delete This Location", location_path(@location), method: :delete %>
<br />
<br />
<%= "See places other travellers are going in #{@location.name}" %>
<br />
<%= link_to "Other Places in #{@location.name}", others_location_path %>
