<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2>Places to Go in <%=@location.name%></h2>

<h3>Sites</h3>
<ul>
  <% ordered_sites = @location.sites.order(:name) %>
  <% ordered_sites.each do |site| %>
    <li>
      <%= link_to "#{site.name}", site.website, target: '_blank'%>
    </li>
  <% end %>
</ul>
<%= link_to "Add New Site", new_site_path %>

<h3>Restaurants</h3>
<ul>
  <% ordered_restaurants = @location.restaurants.order(:name) %>
  <% ordered_restaurants.each do |restaurant| %>
    <li>
      <%= link_to "#{restaurant.name}", restaurant.website, target: '_blank' %>
    </li>
  <% end %>
</ul>
<%= link_to "Add New Restaurant", new_restaurant_path %>

<h3>Hotels</h3>
<ul>
  <% ordered_hotels = @location.hotels.order(:name) %>
  <% ordered_hotels.each do |hotel| %>
    <li>
      <%= link_to "#{hotel.name}", hotel.website, target: '_blank' %>
    </li>
  <% end %>
</ul>

<%= link_to "Add New Hotel", new_hotel_path %>


<!-- <label style="margin-left: 20px"><%= link_to "Restaurants", restaurant_path%></label> -->
<br />
<br />
<br />
<%= link_to "Edit Location", edit_location_path %>
<br />
<%= link_to "Delete This Location", location_path(@location), method: :delete %>
